<div id="Container">
    <div id="Loader">

    </div>
</div>
<section id="Body">
    <section class="Login" id="Login">
        <div class="Container p-10">
            <div class="Login_Head">
                <h1>Reset password for your account.</h1>
            </div>
            <div class="text-red-500 text-sm">
                <% if(messages.error) {%>
                    <% messages.error.forEach((ele)=>{%>
                        <%= ele.msg %>
                            <%})%>
                                <%}%>
                                    <% if(messages.credentials){%>
                                        <%= messages.credentials %>
                                            <%}%>
            </div>
            <form action="" method="post">
                <div class="Login_Password">
                    <input type="password" name="password" id="Password" required placeholder="Password">
                </div>
                <div class="Login_Password">
                    <input type="password" name="cpassword" id="Password" required placeholder="Password">
                </div>
                <div class="Login_Btn" type="Submit">
                    <button id="btn">Submit</button>
                </div>
            </form>
        </div>
    </section>
</section>
</body>

</html>