<div id="Container">
    <div id="Loader">

    </div>
</div>
<section id="Body">
    <section class="Login" id="Login">
        <div class="Container">
            <div class="Login_Head">
                <h1>Login to your account.</h1>
            </div>
            <div class="text-red-500 text-sm">
                <% if(messages.error) {%>
                    <% messages.error.forEach((ele)=>{%>
                        <%= ele.msg %>
                            <%})%>
                                <%}%>
                                    <% if(messages.credentials){%>
                                        <%= messages.credentials %>
                                            <%}%>
            </div>
            <form action="" method="post">
                <div class="Login_Email">
                    <input type="email" name="Lemail" id="email" required placeholder="Email">
                </div>
                <div class="Login_Password">
                    <input type="password" name="Lpassword" id="Password" required placeholder="Password">
                </div>

                <div class="Login_Container">
                    <div class="Cont_Head1">
                        Change Password?
                    </div>
                    <div class="Cont_Head2">
                        <a href="/reset-password">Forgot Password?</a>
                    </div>
                </div>
                <div class="Login_Btn" type="Submit">
                    <button id="btn">Login</button>
                </div>
            </form>
            <div class="Login_Head2">
                <h2>Or Login With</h2>
            </div>
            <div class="Login_Items">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="/auth/google"><i class="fa-brands fa-google"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
            <div class="Login_Head2">
                <h2>Don't have an account?</h2>
            </div>
            <div class="Login_Register">
                <a href="/register">Register Now</a>
            </div>
        </div>
    </section>
</section>
</body>

</html>