<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/Web14.css">
    <script src="https://kit.fontawesome.com/6b80b94304.js" crossorigin="anonymous"></script>
</head>
<body>
     <section class="Banner_Container" id="Banner_Container">
      <div class="Banner_Item1">
       <i class="fa-solid fa-trademark"></i> <br />
       <a href="/termcondition"> Terms & conditions</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-solid fa-rotate-left"></i> <br />
       <a href="/returnpolicy"> Return Policy</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-regular fa-life-ring"></i> <br />
        <a href="/supportpolicy"> Support Policy</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-solid fa-circle-info"></i> <br />
        <a href="/privacypolicy">Privacy Policy</a>
      </div>
    </section>
    <section class="Footer" id="Footer">
      <div class="Footer_Container">
        <div class="Foot_Cont1">
         <div class="Logo">PC Mall</div>
          <div class="Cnt1_Head">
           PC mall is a Multi vendor system is such a platform to build a
            border less marketplace
          </div>
          <div class="Cnt1_Head2">
            <input
              type="email"
              name="Email"
              id="Email"
              placeholder="Your Email Address.."
            />
            <span>
              <button id="Btn">Subscribe</button>
            </span>
          </div>
        </div>

        <div class="Foot_Cont2">
          <div class="Cnt2_Head">Contact Info</div>
          <div class="Cnt2_Head2">
            Address: <br />
            Mahavir Swami College Of Engineering And Technology, Vesu , Surat 
          </div>
          <div class="Cnt2_Head3">
            Phone: 1234567890
          </div>
          <div class="Cnt2_Head4">
            Email: info@pcmall.com
          </div>
        </div>

        <div class="Foot_Cont3">
          <div class="Cnt3_Head">Useful Link</div>
          <div class="Cnt3_Head2"><a href="/home">PC Mall</a></div>
        </div>

        <div class="Foot_Cont4">
          <div class="Cnt4_Head"><a href="/profile">My Account</a></div>
          <div class="Cnt4_Items">
            <div class="Cnt4_Item"><a href="/home">Home</a></div>
            <div class="Cnt4_Item"><a href="/login">Login</a></div>
            <div class="Cnt4_Item"><a href="/Register">Registration</a></div>
            <div class="Cnt4_Item"><a href="/login">Login</a></div>
            <div class="Cnt4_Item">
              <button id="Btn2">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>

</body>
</html>