<div class="h-fit w-full flex items-center flex-col my-10" id="body" onload="Load()">
        <table class="table-auto border-collapse border border-slate-300 w-10/12">
                <thead>
                        <tr align="left">
                                <th class="border border-slate-300 p-2">Orders</th>
                                <th class="border border-slate-300 p-2">Phone</th>
                                <th class="border border-slate-300 p-2">Address</th>
                                <th class="border border-slate-300 p-2">paymentType</th>
                                <th class="border border-slate-300 p-2">paymentStatus</th>
                                <th class="border border-slate-300 p-2">Status</th>
                                <th class="border border-slate-300 p-2">Time</th>
                        </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
        </table>
</div>