<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Mall | All Brand Page</title>
</head>
<body>
    {{>Header}}
     <div class="Product_Container_It">
        <a href="https://www.amazon.in/sspa/click?ie=UTF8&spc=MTo1ODIzMTI0MzI1NDE5MjcyOjE2ODI5MzE4MTM6c3BfYXRmOjIwMTIzODE2MDk5Mjk4OjowOjo&url=%2FMSI-Mid-Tower-Tempered-Radiator-Management%2Fdp%2FB08FF7DZY3%2Fref%3Dsr_1_1_sspa%3Fcrid%3D19KSG5I48RISU%26keywords%3Dcabinet%2Bfor%2Bpc%26qid%3D1682931813%26sprefix%3Dcabinet%2Bfor%2Bpc%252Caps%252C262%26sr%3D8-1-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1"><div class="Item1">
          <img src="/img01.webp" alt="" height="200px" width="200px" />
          <div class="Review_Box">MSI MPG SEKIRA 100R mid Tower Gaming Cabinet for PC - 4 ARGB Fans, USB 3.2 Gen2 Type-C, Tempered Glass Window, Magnetic dust Filter, 47.5 x21.49 x42.01 cm</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹8,999 &nbsp;  <del>₹12,950</del> &nbsp; (31% off)</div>
        </div></a>

        <a href="https://www.amazon.in/sspa/click?ie=UTF8&spc=MToyOTMzNTI0ODQyMDk5MjQ4OjE2ODI5MzM5NjE6c3BfYXRmOjIwMTQzMTM1NzAzNzk4OjowOjo&url=%2FVolted-VM120ARGB-120mm-Black-1500RPM%2Fdp%2FB0B9GH58HV%2Fref%3Dsr_1_1_sspa%3Fcrid%3D1ZGFC0QTHX7XJ%26keywords%3Dcooling%2Bfan%2Bfor%2Bpc%26qid%3D1682933961%26sprefix%3Dcooling%2Bfan%2Bfor%2Bpc%252Caps%252C247%26sr%3D8-1-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1"><div class="Item1">
          <img src="/img02.webp" alt="" height="200px" width="200px" />
          <div class="Review_Box">Volted VM120ARGB 120mm ARGB Premium Black 1500RPM Case FAN/Cooler</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹599 &nbsp;  <del>₹13,99</del> &nbsp; (57% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Intel%C2%AE-CoreTM-i9-13900K-Processor-Cache/dp/B0BG67ZG5R/ref=sr_1_6?crid=1LCHIMA6GYR2J&keywords=processor+intel+i9&qid=1682934385&sprefix=processor+intel+i9%2Caps%2C357&sr=8-6"><div class="Item1">
          <img src="/img03.webp" alt="" height="200px" width="200px" />
          <div class="Review_Box">Volted VM120ARGB 120mm ARGB Premium Black 1500RPM Case FAN/Cooler</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹58,000 &nbsp;  <del>₹82,350</del> &nbsp; (50% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Western-Digital-Blue-Hard-Drive/dp/B08VH8R94B/ref=sr_1_5?crid=3SHNUAFMCAVA1&keywords=harddisk+for+pc&qid=1682934563&sprefix=harddisk+for+pc%2Caps%2C392&sr=8-5"><div class="Item1">
          <img src="/img04.webp" alt="" height="200px" width="200px" />
          <div class="Review_Box">Seagate Barracuda 2 TB Internal Hard Drive HDD – 8.89 cm (3.5 Inch) SATA 6 Gb/s 5400 RPM 256 MB Cache for Computer Desktop PC</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹4,699 &nbsp;  <del>₹6,999</del> &nbsp; (33% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Crucial-DDR4-Desktop-Memory-CT8G4DFRA32A/dp/B08C4VHQV2/ref=sr_1_4?crid=22AY8UX3A33FQ&keywords=ram+for+pc&qid=1682934932&sprefix=ram+for+pc%2Caps%2C354&sr=8-4"><div class="Item1">
          <img src="/img05.webp" alt="" height="100px" width="300px" />
          <div class="Review_Box">Crucial RAM 8GB DDR4 3200MHz CL22 (or 2933MHz or 2666MHz) Desktop Memory CT8G4DFRA32A</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹1,625 &nbsp;  <del>₹2,700</del> &nbsp; (40% off)</div>
        </div></a>

        <a href="https://www.amazon.in/sspa/click?ie=UTF8&spc=MTozMDU5MDk1NjY2NTk5MzY0OjE2ODI5MzUxOTc6c3BfbXRmOjIwMTEyMTY5NzQ5ODk4OjowOjo&url=%2FMSI-PRO-VDH-Motherboard-RyzenTM-Processors%2Fdp%2FB08BCR4ZRS%2Fref%3Dsr_1_11_sspa%3Fcrid%3D2T4EBY5E87ICS%26keywords%3Dmother%2Bboard%26qid%3D1682935197%26sprefix%3Dmother%2Bboard%252Caps%252C382%26sr%3D8-11-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9tdGY%26psc%3D1"><div class="Item1">
          <img src="/img06.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">MSI B550M Pro-Vdh WiFi Ddr4, M.2, USB 3.2 Gen 1, Front Type-C, Wi-Fi, Hdmi, Micro ATX Gaming Motherboard AMD Ryzen 5000 Series Desktop Processors</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹11,299 &nbsp;  <del>₹17,400</del> &nbsp; (35% off)</div>
        </div></a>

        <a href="https://www.amazon.in/sspa/click?ie=UTF8&spc=MTo2MTUwNTY0NjQ1OTM1OTc5OjE2ODI5MzY1MjE6c3BfYXRmOjIwMTI2NTIwMTM4Mzk4OjowOjo&url=%2FZEB-SD26-Solid-State-Drive-Interface%2Fdp%2FB0BD4DTHN3%2Fref%3Dsr_1_2_sspa%3Fcrid%3D2UY6IKMOP5VST%26keywords%3Dssd%2Bfor%2Bpc%26qid%3D1682936521%26sprefix%3Dssd%2Bfor%2Bpc%252Caps%252C363%26sr%3D8-2-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1"><div class="Item1">
          <img src="/img07.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">ZEB-SD26 256 GB Solid State Drive, TLC, SATA II & SATA III Interface</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹1,228 &nbsp;  <del>₹7,499</del> &nbsp; (84% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Corsair-Bronze-Certified-Non-Modular-Supply/dp/B07YVWMV5D/ref=sr_1_4?keywords=power+supply+for+pc&qid=1682937014&sprefix=powersuppl%2Caps%2C267&sr=8-4"><div class="Item1">
          <img src="/img08.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">Corsair CV650, CV Series, 80 Plus Bronze Certified, 650 Watt Non-Modular Power Supply - Black</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹5,647 &nbsp;  <del>₹8,900</del> &nbsp; (37% off)</div>
        </div></a>

        <a href="https://www.amazon.in/WAR-HAMMER-Kratos-Premium-Splitter/dp/B0BRHJX57M/ref=sr_1_6?crid=2X4K0Y88O8SXN&keywords=cabinet+fan&qid=1682937313&sprefix=cabinet+fan%2Caps%2C344&sr=8-6"><div class="Item1">
          <img src="/img09.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">WAR HAMMER Kratos 120 mm Auto RGB Premium Series 1500 RPM Case Fan/Cooler with 4 Pin PWM Splitter Cable (3)</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹1,249 &nbsp;  <del>₹2,999</del> &nbsp; (58% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Zotac-Gaming-GeForce-3050-Black/dp/B09RGN133Q/ref=sr_1_14?crid=12K290PETVP1J&keywords=graphics+card&qid=1682937494&sprefix=graphics+card%2Caps%2C257&sr=8-14"><div class="Item1">
          <img src="/img10.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">Zotac Gaming GeForce RTX 3050 8 GB GDDR6 Twin Edge Graphics Card, Black, pci_e_x4</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹29,999 &nbsp;  <del>₹41,070</del> &nbsp; (27% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Zebronics-ZEB-A24FHD-1920x1080-Brightness-mountable/dp/B09X3C3JXP/ref=sr_1_4?crid=345RLS9WXD7H0&keywords=monitor&qid=1682937618&sprefix=monitor+%2Caps%2C258&sr=8-4"><div class="Item1">
          <img src="/img11.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">ZEBRONICS 24 Inch (60.4 Cm) Widescreen 1920 X 1080 Pixels LED Monitor, IPS, Ultra Slim, FHD 1920x1080, HDMI, VGA, 250nits, Built in Speaker</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹7,499 &nbsp;  <del>₹24,999</del> &nbsp; (70% off)</div>
        </div></a>

        <a href="https://www.amazon.in/Zebronics-Transformer-Gaming-Multimedia-Keyboard/dp/B07BRKK9JQ/ref=sr_1_5?crid=3CY0NTBAQN5P6&keywords=keyboard+and+mouse&qid=1682937966&sprefix=keyboard+and+mous%2Caps%2C212&sr=8-5"><div class="Item1">
          <img src="/img12.webp" alt="" height="200px" width="300px" />
          <div class="Review_Box">Zebronics Zeb-Transformer Gaming Keyboard and Mouse Combo (USB, Braided Cable)</div>
          <div class="Rating_Box">&star; &star; &star; &star; &star;</div>
            <div class="Price_Box">₹1,199 &nbsp;  <del>₹1,599</del> &nbsp; (25% off)</div>
        </div></a>
      </div>
    {{>Footer}}
</body>
</html>