<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Mall | Error Page</title>
    <link rel="stylesheet" href="Web14.css">
</head>
<body onload="Load()">
    <div id="Container">
        <div id="Loader">
            
        </div>
    </div>
  <section id="Body">
      {{>Header}}
<section class="Error_Page" id="Error_Page">
    <div class="Error">
        <img src="/404.svg" alt="404 Error" height="300px" width="400px">
        <div class="Error_Head">
            <h1> Page Not Found!</h1>
         </div>
         <div class="Error_Para">
             The page you are looking for has not been found on our server.
         </div>
    </div>
</section>
{{>Footer}}
  </section>
  <script>
      const Container = document.getElementById('Container');
      const Body = document.getElementById('Body');
      Body.style.display='none';
  const Load = () =>{
    Container.style.display='none';
    Body.style.display='flex';
  }
    </script>
</body>
</html>