      <div id="Container">
        <div id="Loader">

        </div>
    </div>
 <section id="Body">
    <section class="Return_Page" id="Return_Page">
        <div class="Return">
<div class="Return_Head">
<b>   Return Policy
</b>
</div>
<div class="Return_Para">
    We are committed to ensuring your satisfaction with any product you have ordered from us. Once the order is dispatched from our warehouse will not be refunded/ cancelled unless it has non-repairable manufacturing damages  <br>
<br><br>
<b>Product damaged or defective:</b> <br>
<br><br>
   
   In the unlikely event that any product you have ordered from us is not received in good condition, is damaged or defective, or if product delivered is different from what you had ordered, you must notwithstanding your warranty rights, immediately lodge a complaint with PC Mall on its Customer care help line at 9978890905 , and refuse to accept the delivery. You must also contact us immediately, so that, we may assert our rights, if any, vis-a-vis the shipping agent. Hidden defects must again not withstanding any warranty rights be reported to us immediately on detection, so that any warranty claims against upstream suppliers can be asserted. You may return the product unused, and in the same (unused) condition as you have received it, in its original packaging along with original contents (with all accessories of polythene / charger / carton box / Manual, and such other contents depending on the product ordered), labels or relevant seal, for a refund or an exchange, within 72hrs from the date on which these goods are delivered. Should you decide to exercise your right to return purchased products, PC Mall will not accept returned products that are returned without the relevant label or seal or that have been altered from their original status or damaged. <br>
   
    Please do not accept delivery of any item if you notice any apparent damage or deep damage. Please contact customer care if you open the packaging and discover that the item is damaged. <br>
   
   
   Products damaged while being used do not qualify for a refund or replacement. (Product warranty to be taken up with respective brand/HT service center to be highlighted) <br>
   
   If the product was not received in good condition we may repair/replace the product under warranty terms, however in case we are unable to replace the damaged/defective product we may initiate other or offer alternate product with mutual consent on returning old product. Replacement of product may depend upon the availability of the product. <br>
   
   In the event you return any product which is delivered to you in damaged/defective condition, we will also refund the shipping charges if applicable to that item. <br>
   
    In case of Damage or Missing Item for the ordered product in Category like Decor, Home Furnishing, Tableware, Kitchenware & Luggage Customer has to raised a Ticket within 15 days from the product delivered. Post that Time Period no ticket or complaints will be entertained from PC Mall  Team. <br>
   
   
   Note: Products that have been assembled and/or installed cannot be returned or replaced, in case any manufacturing defect, the product will be repaired under normal warranty terms. <br>
   <br><br>
   <b>Return it through Courier Collection:</b> <br>
   
   You may contact our Customer Care within 48hrs of having received the product and request a return/exchange (As per the policy mentioned above).We shall arrange for the products to be collected from the delivery address through courier and shall process the return/exchange subject to receipt of the products at our end in unused condition and in its original packaging along with the invoice, failing which return/ exchange or refund may not be possible. <br>
   
    For returns through courier collection; you will be given a docket number at the time of collecting the products, which is to be retained for future reference. <br>
   
   
    In the event that the return does not comply with the return policy of the PC Mall , you will not be entitled to any replacement or refund of the sums already paid to PC Mall and PC Mall  reserves the right to withhold the sums already received. <br>
   
   <br><br>
   <b> How will you be refunded? </b><br>
   
   
   We will refund the money once we are in receipt of the product in its original nature/condition. The refund shall be in the way the payment was made. If the payment was by Credit Card or Net-Banking, we will refund the Credit Card or Net-Banking account. If the payment mode was Cheque, we will send you a cheque. Cheques will be sent only to the billing address of the customer making the payment. <br>
   
    The refund process will be initiated once we have received the product(s), in proper and original nature. Typically refunds are processed in less than 10 working days but in case of payments by Cheque, it may take a few extra days for the cheque to be delivered to your billing address, and for the funds to be credited to your account, once you deposit the cheque. <br>
   
   
    Please note that we shall not be responsible for any delays in credit to the Cardholder's credit card account as that is managed by the Cardholder's issuing bank. <br>
   
   
    Email us at care info@vnfmall.com.in or call our contact center at 9978890905 in case of any assistance. <br>
</div>
        </div>
    </section>
 </section>
</body>
</html>