<div id="Container">
    <div id="Loader">

    </div>
</div>
<section id="Body">
    <section class="Error_Page" id="Error_Page">
        <div class="Error">
            <img src="/404.svg" alt="404 Error" height="300px" width="400px">
            <div class="Error_Head">
                <h1> Page Not Found!</h1>
            </div>
            <div class="Error_Para">
                The page you are looking for has not been found on our server.
            </div>
            <h2 class="text-black text-xl">Please Go To <a href="/" class="text-red-500">Home</a>
        </div>
    </section>
</section>